[AtlasDescription]
atlasDir = /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/
t1 =       template_t1.nii.gz
rho =      /spatialImages/rho.nii.gz
phi =      /spatialImages/phi.nii.gz
theta =    /spatialImages/theta.nii.gz

[ROI]
roiList=  ['l_accumben','l_caudate',
           'l_putamen','l_globus',
           'l_thalamus','l_hippocampus',
           'r_accumben','r_caudate',
           'r_putamen','r_globus',
           'r_thalamus','r_hippocampus']
probabilityMapDir = ./

[FileDescriptions]
xmlFilename    = output.xml
vectorFilename = vectorfile.txt
modelFilename  = modelfile.txt

[ListFiles]
subjectListFilename  = test.csv
featureListFileDictionary = {'gadSG':'gadSGFeatureList.csv'}

[Options]
imageTypeToUse = T1
normalization  = Linear
roiBooleanCreator = {'l_accumben':'true',    'r_accumben':'true',
                     'l_caudate':'true',     'r_caudate':'true',
                     'l_putamen':'true',     'r_putamen':'true',
                     'l_globus':'true',      'r_globus':'true',
                     'l_thalamus':'true',    'r_thalamus':'true',
                     'l_hippocampus':'true', 'r_hippocampus':'true',
                    }

